body{
    background-color: lightblue;
    text-align:center;
}

h1{
    color:darkblue;
}

p{
    font-size:22px;
}

button{

    background-color:blue;
    color:white;

    padding:10px 20px;

    border:none;

    border-radius:10px;

    font-size:18px;
}

img{

    width:300px;

    margin-top:20px;

    border-radius:20px;
}
nav{

background-color:darkblue;

padding:20px;
}

nav a{

color:white;

text-decoration:none;

margin:20px;

font-size:20px;
}
.gallery{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:20px;
}

.gallery img{
width:100%;
border-radius:15px;
transition:0.4s;
cursor:pointer;
}

.gallery img:hover{
transform:scale(1.08);
}
.batch{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
padding:20px;

}

.batch a{

background-color:darkblue;
color:white;
padding:12px 20px;
text-decoration:none;
border-radius:10px;
font-size:18px;
transition:0.4s;

}

.batch a:hover{

background:black;

}

.question{

display:flex;
justify-content:center;
padding:30px;

}

.question img{

width:400px;
border-radius:20px;

}