body{
    background-color:lightblue;
    text-align:center;
    margin:0;
    font-family:Arial,sans-serif;
}

h1{
    color:darkblue;
}

p{
    font-size:22px;
}

button{
    background:blue;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

img{
    width:300px;
    margin-top:20px;
    border-radius:20px;
}

nav{
    background:darkblue;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:20px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:20px;
}

.gallery img{
    width:100%;
    border-radius:15px;
    transition:.4s;
    cursor:pointer;
}

.gallery img:hover{
    transform:scale(1.08);
}

.batch{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    padding:20px;
}

.batch a{
    background:darkblue;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:10px;
    font-size:18px;
}

.batch a:hover{
    background:black;
}

/* Question Gallery */

.question-gallery{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:30px;
}

.question-gallery img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:15px;
    cursor:pointer;
    transition:.3s;
}

.question-gallery img:hover{
    transform:scale(1.05);
}

/* Full Screen Viewer */

.viewer{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.9);
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:9999;
}

.viewer img{
    max-width:90%;
    max-height:80%;
    transition:.2s;
}

.download-btn{
    margin-top:20px;
    background:blue;
    color:white;
    padding:12px 20px;
    border:none;
    border-radius:10px;
    font-size:18px;
}

/* Mobile */

@media(max-width:768px){

.question-gallery{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:480px){

.question-gallery{

grid-template-columns:1fr;

}

}